<div class="content container">
  <div class="page-header">
    <h1>Contact Anthony</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>
	The best way to contact me is through LinkedIn.  This way you can learn a little bit more about me, and I can learn a little bit more about you!
      </p>
      <a href="https://www.linkedin.com/pub/anthony-chen/2/269/221">
	<img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" width="160" height="33" border="0" alt="View Anthony Chen's profile on LinkedIn">
      </a>
    </div>
  </div>
</div>
