<div class="content container-fluid">
  <div class="row">
    <div align="center" class="embed-responsive embed-responsive-16by9">
      <video preload autoplay loop class="embed-responsive-item">
        <source src="/media/EuphylliaLoop.mp4" type="video/mp4">
      </video>
    </div>
    <div style="text-align: center; position: relative; top: -30px; index: 10; color: #fff;">
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
    <div class="introSplashText">
      
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p class="lead">
	Hello and welcome to Anthony Chen's Personal Site!
      </p>
      <p>
	Although there are probably many Anthony Chen in the world, I happen to be the only one that owns anthonychen.com and anthonychen.net since about 2006.  I graduated from MIT in 2009 with a degree in computer science and have remained in the Boston area since then working in various software engineering roles.    
      </p>
      <p>
	Here, you'll be able to learn more about me and my interests which include tinkering with 3D printers and CNC routers, trying to do everything myself around my home, my various web-related programming projects and my foray into the aquarium industry.
      </p>
    </div>
  </div>
</div>
