<div class="content container" ng-init="projectEntryType = 'Aquatics'">
  <ol class="breadcrumb">
    <li>
      <a ui-sref="intro">Home</a>
    </li>
    <li>
      <a ui-sref="projects">Projects</a>
    </li>
    <li class="active">Aquatics</li>
  </ol>
  <div class="page-header">
    <h1>Projects: Aquatics</h1>
  </div>
  <div ng-if="projectEntries.length == 0">
    No project entries yet.  Stay tuned, I'm working on it!
  </div>
  <div class="row" ng-repeat="projectEntry in projectEntries">
    <div class="col-sm-12">
      <h2>{{projectEntry.title}}<small> - {{projectEntry.ctime | date}}</small></h2>
      <p ng-bind-html="projectEntry.content">
      </p>
    </div>
  </div>
</div>
