<div class="content container" ng-init="projectEntryType = 'CNC Routing'">
  <ol class="breadcrumb">
    <li>
      <a ui-sref="intro">Home</a>
    </li>
    <li>
      <a ui-sref="projects">Projects</a>
    </li>
    <li class="active">CNC Routing</li>
  </ol>
  <div class="page-header">
    <h1>Projects: CNC Routing</h1>
  </div>
  <div class="list-group">
    <div ng-if="projectEntries.length == 0">
      No project entries yet. Stay tuned, I'm working on it!
    </div>
    <a class="list-group-item" ng-repeat="projectEntry in projectEntries">{{projectEntry.title}}</a>
  </div>
</div>
