<div class="content container">
  <div class="row featurette">
    <div class="col-xs-12">
      <p class="lead">
	Although I have a background in software, I've always been a very hands-on kind of person.  I've always tinkered with things, trying to figure out how they work and then customizing it the way that I like it.  This started off with LEGOs as a child, then progressed to building my own PCs from components, building over 20 different road and urban bikes,  and now primarily in reductive and additive fabrication as well as all the sorts of things you'd do for keeping up a home.  This section is really meant to be a tips and tricks section so that you can understand what I feel are the most important points to consider and learn from my mistakes and results.
      </p>
    </div>
  </div>
</div>
<div class="container">
  <a ui-sref="projectsAquatics">
    <div class="row featurette">
      <div class="col-xs-6">
	<img class="img-responsive" src="http://anthonychen.net/media/RainbowLobo.jpg">
      </div>
      <div class="col-xs-6">
	<h2>Aquatics</h2>
	<p>
	  I love reef aquariums and freshwater "nature" aquariums.  You'll be able to read more about my tanks, past and present as well as my philosophy towards keeping aquaria.  If you like seeing photos of aquaria, this is your section!
	</p>
      </div>
    </div>
  </a>
</div>
<div class="container">
  <a ui-sref="projects3DPrinting">
    <div class="row featurette">
      <div class="col-xs-6">
	<h2>3D Printing</h2>
	<p>
	  In 2015, my wife bought me an amazing 3D printer, the Ultimaker 2.  I knew that it wasn't going to be as easy as clicking a button to go from design to printed product but fortunately the 3D printing community is often super helpful towards each other and I've been able to tweak my printer to a really good state.  Find my tips and tricks to 3D printing as well as my own designs and other people's designs that I found to be very cool.
	</p>
      </div>
      <div class="col-xs-6">	
      </div>
    </div>
  </a>
</div>
<div class="container">
  <a ui-sref="projectsCNCRouting">
    <div class="row featurette">
      <div class="col-xs-6">
	
      </div>
      <div class="col-xs-6">
	<h2>CNC Routing</h2>
	<p>
	  In 2014 I built my first 4' x 8' CNC Router from a kit.  Weighing at well over 700lbs, I pieced it together out of galvanized steel and 80/20 aluminum.  I had always been interested in woodworking and wanted a better way to produce consistent results and interesting designs than I could create with a tracksaw.  Learn more about my experiences as well as the tips and tricks I've found useful along the way. 
	</p>
      </div>
    </div>
  </a>
</div>
<div class="container">
  <a ui-sref="projectsSoftware">
    <div class="row featurette">
      <div class="col-xs-6">
	<h2>Software</h2>
	<p>
	  I've been programming for over a decade now, primarily in distributed systems applications often referred to the cloud space.  This section isn't meant to replace wonderful resources like Stack Overflow.  It's more like a guide to my thoughts on computational thinking and how I develop systems and applications.  Useful things I try to keep in mind like the importance of formatting and code conventions.  Wisdom behind source control, etc.   
	</p>
      </div>
      <div class="col-xs-6">
	
      </div>
    </div>
  </a>
</div>
