<div class="content container">
  <div class="page-header">
    <h1>Resume</h1>
  </div>
  <div class="row">
    <div class="col-xs-12 visible-xs-12">
      <a target="_self" href="/media/ant.pdf" download="ant.pdf">Download Resume as PDF</a>
    </div>
  </div>
  <div class="row">
    <div class="hidden-xs embed-responsive embed-responsive-16by9">
      <object data="/media/ant.pdf" type="application/pdf">
	<a href="/media/ant.pdf">Download Resume as PDF</a>
      </object>
    </div>
  </div>
</div>
